{% extends "base.html" %}
{% block title %}
    {{ super() }}
    Index
{% endblock title %}
{% block content %}
    {{ super() }}
    <h4 class="text-center title">{{message}}</h1>
    <h2 class="subtitulo"> Transferencia </h1>
        </br></br></br>
        <h3 class="subtitulo">Se va a transferir a la cuenta: <b>{{tarjeta_transferencia['id_tarjeta']}}</b> que pertenece al usuario <b>{{tarjeta_transferencia['username']}}</b></h3>  
        <div class="card text-center" style="width: 35%; margin: auto">
            <form action="/transferirDinero" method="post">
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  <label> Digita la cantidad a transferir </label>
                </br>
                <input type="hidden" value="{{tarjeta_transferencia['id_tarjeta']}}" name="tarjeta">
                <input type="hidden" value="{{tarjeta_transferencia['username']}}" name="usuario">
                <input type="hidden" value="{{tarjeta_transferencia['id_cuenta']}}" name="cuenta">
                  <input
                    style="text-align: center"
                    id="valor"
                    type="text"
                    name="valor"
                    class="entrada"
                    placeholder="Cantidad"
                    required
                  />
                </li>
              </ul>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  <button class="btn btn-success" type="submit">
                    Transferir
                  </button>
                </li>
              </ul>
        </form>
    </div>
{% endblock content%}