{% extends "base.html" %}
{% block title %}
    {{ super() }}
    Index
{% endblock title %}
{% block content %}
    {{ super() }}
    <h4 class="text-center title">{{message}}</h1>
    <h2 class="subtitulo">¡Ingrese a su cuenta!</h1>
        </br></br></br>
        <div class="card text-center" style="width: 35%; margin: auto">
            <form action="/login" method="post">
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  <label> CVV </label>
                </br>
                  <input
                    style="text-align: center"
                    id="cvv"
                    type="text"
                    name="cvv"
                    class="entrada"
                    placeholder="Digite los 3 numeros que se encuentran en la parte posterior de su tarjeta"
                    required
                  />
                </li>
              </ul>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  <button class="btn btn-success" type="submit">
                    Ingresar
                  </button>
                </li>
              </ul>
        </form>
    </div>
{% endblock content%}