<nav class="navbar navbar-light justify-content-center main">
    <div class="container">
      <div class="row">
        <a href="./" class="btn text-uppercase btnNav">Regresar</a>
      </div>
      <div class="row logo">
        <!-- Imagen logotipo -->
      </div>
      <div class="row">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="btn btnNav" href="/">
                <i class="bi bi-x-square-fill"></i> 
            Cancelar operaci&oacute;n</a>
          </li>
        </ul>
        </div>
    </div>
  </nav>