{% extends "base.html" %}
{% block title %}
    {{ super() }}
    Proceso
{% endblock title %}
{% block content %}
    {{ super() }}
    <div class="rectangulo">
        <h1 class="titulo2">Seleccionar proceso</h1>
    </div>
    </br></br></br></br></br>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <form action="/ingresarContra" method = "post">
                    <input type="hidden" value="consultas" name="tipo">
                    <button class="btn btnIngreso" type="submit">
                        Consultas
                    </button>
                </form>
            </div>
            <div class="col-sm">
                <form action="/ingresarContra" method = "post">
                    <input type="hidden" value="retiros" name="tipo">
                    <button class="btn btnIngreso" type="submit">
                        Retiros
                    </button>
                </form>
            </div>
            <div class="col-sm">
                <form action="/ingresarContra" method = "post">
                    <input type="hidden" value="transferencias" name="tipo">
                    <button class="btn btnIngreso" type="submit">
                        Transferencias
                    </button>
                </form>
            </div>
        </div>
    </div>
{% endblock content%}